<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vn.com.fpt.frt_minventory">
    <uses-feature android:name="android.hardware.screen.portrait" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-feature android:name="android.hardware.camera" />

    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front.autofocus" android:required="false"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="21"/>


    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />
    <meta-data
        android:name="com.google.android.gms.vision.DEPENDENCIES"
        android:value="barcode" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/rsz_icon_inventory"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".Views.LoginActivity"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"
                android:screenOrientation="portrait"/>
        <activity android:name=".Views.InventoryOnDay"
                android:screenOrientation="portrait"/>
        <activity android:name=".Views.InventoryDetail"
            android:configChanges="orientation|screenSize"
                android:screenOrientation="portrait"/>
        <activity android:name=".Views.InventoriedList"
                android:screenOrientation="portrait"/>
        <activity android:name=".Scanner.BarcodeCaptureActivity"
                android:label="Read Barcode"/>
        <activity android:name=".Views.SelectWarehouseCode"
                android:screenOrientation="portrait"/>
        <activity android:name=".Views.ListInventoried"
                android:screenOrientation="portrait"/>
        <activity android:name=".Views.CameraActivity"
                android:screenOrientation="portrait"/>
        <activity android:name=".Views.Calendar_Inventory"
                android:screenOrientation="portrait"/>
        <activity android:name=".Views.SelectAreaCalendar"
                android:screenOrientation="portrait"/>
        <activity android:name=".Views.SL_Phieu_KK"
            android:screenOrientation="portrait"/>
        <activity android:name=".Views.Type_Inventory"
            android:screenOrientation="portrait"/>
        <activity android:name=".Views.UnlockInventory"
            android:screenOrientation="portrait"/>
        <activity android:name=".Views.ActivityShowImage"
            android:screenOrientation="portrait"/>
        <activity android:name=".Views.SearchJob"
            android:screenOrientation="portrait"/>
    </application>


</manifest>